<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   	= "http://phonegap.com/ns/1.0"
    id          	= "com.phonegap.example"
    versionCode 	= "10"
    version     	= "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Ionic Camera Test</name>

    <description>
      A demo app for ngCordova Camera
    </description>

    <author href="http://emc2innovation.com" email="hello@emc2innovation.com">
      Eric McNiece
    </author>

    <!-- We'll include the Barcode plugin as an example -->
    <gap:plugin name="org.apache.cordova.camera" />
</widget>
